@using Packt.Shared
@model IEnumerable<Product>?
@{
  ViewData["Title"] = "Products using .NET";
}
<div class="text-center">
  <h1 class="display-4">@ViewData["Title"]</h1>
  <div>
    Go to <a href="/">Products using JavaScript</a>
  </div>
  <form action="/home/products">
    <input name="name" placeholder="Enter part of a product name" />
    <input type="submit" value="Get Products" />
  </form>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
        </tr>
      </thead>
      <tbody>
        @if (Model is not null)
        {
          @foreach (Product p in Model)
          {
            <tr><td><a href="@(ViewData["baseaddress"])api/products/@p.ProductId">@p.ProductName</a></td></tr>
          }
        }
      </tbody>
    </table>
  </div>
</div>
