<nav class="nav nav-pills flex-column">
  <div class="nav-item px-3">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
      Home
    </NavLink>
  </div>
  <div class="nav-item px-3">
    <NavLink class="nav-link" href="employees" Match="NavLinkMatch.All">
      Employees Worldwide
    </NavLink>
  </div>
  <div class="nav-item px-3">
    <NavLink class="nav-link" href="employees/USA">
      Employees in USA
    </NavLink>
  </div>
  <div class="nav-item px-3">
    <NavLink class="nav-link" href="employees/UK">
      Employees in UK
    </NavLink>
  </div>
</nav>
