@inherits LayoutComponentBase
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <div class="alert alert-secondary">
            <NavMenu />
        </div>
      </div>
      <div class="col">@Body</div>
    </div>
  </div>
</main>
